<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>乌海</title>
    <meta name="keywords" content="乌海 "/>
    <meta name="description" content="乌海 "/>
    <link href="css/whir_css.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="script/jquery.js"></script>
    <script type="text/javascript" src="script/superslide.2.1.js"></script>
</head>
<body>
<!--header-->
<div id="header">
    <div class="top">
        <div class="time">
            <script language=JavaScript>
                <!--
                var enabled = 0;
                today = new Date();
                var day;
                var date;
                if (today.getDay() == 0) day = " 星期日"
                if (today.getDay() == 1) day = " 星期一"
                if (today.getDay() == 2) day = " 星期二"
                if (today.getDay() == 3) day = " 星期三"
                if (today.getDay() == 4) day = " 星期四"
                if (today.getDay() == 5) day = " 星期五"
                if (today.getDay() == 6) day = " 星期六"
                document.fgColor = "000000";
                date = "现在是:" + (today.getFullYear()) + "年" + (today.getMonth() + 1) + "月" + today.getDate() + "日" + day + "";
                document.write(date);
                // -->
            </script>
        </div>
        <div class="weather">
            <iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true"
                    src="http://i.tianqi.com/index.php?c=code&id=1&icon=1&py=wuhai&wind=0&num=1"></iframe>
        </div>
        <div class="tnav"><a href="http://www.nmgzzqlyxh.org/">内蒙古旅游协会</a>|<a href="#">内电子出品</a></div>
    </div>
    <div class="nav">
        <div class="navmenu">
            <div class="logo"><a href="index.html"><img src="images/logo.jpg" width="190" height="70"/></a></div>
            <ul>
                <li><a href="#旅游景点">旅游景点</a></li>
                <li><a href="#酒店住宿" class="on">酒店住宿</a></li>
                <li><a href="#">出行交通</a></li>
                <li><a href="#娱乐购物">娱乐购物</a></li>
                <li><a href="#">旅游新闻</a></li>
                <li><a href="#">地区文化知识</a></li>
                <li><a href="#特色美食">特色美食</a></li>
                <li><a href="#">旅游资讯</a></li>
                <li><a href="#">旅游攻略</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="nybanner" style="background:url(images/乌海.jpg) center no-repeat;"></div>
<!--中间内容-->
<div id="subbox">
    <div class="position">当前位置：<a href="#">首页</a> > 乌海</div>
    <div class="mainsub">
        <!--左侧部分-->
        <div class="left870">
            <!--乌海旅游地图-->
            <div class="column4">
                <div class="title5"><a name="">更多></a>
                    <h1>乌海旅游地图</h1></div>
                <div class="lvmap">
                    <span class="lvL"><img src="images/乌海1.jpg" width="304" height="221"/></span>
                    <span class="lvR">乌海市矿产资源丰富，已探明金属和非金属矿藏有37种，其中，煤炭储量30多亿吨，以优质焦煤为主，占内蒙古焦煤储量的60％左右；铁矿石储量600多万吨；高岭上亿吨以上，此外，石灰石、石英砂等矿藏也储量巨大。丰富的矿产资源为经济的发展提供了必要的条件。
　　乌海平均海拔1150米，属北温带干燥型大陆气候，年平均降水量200毫米。境内群山环绕、戈壁、荒漠和沙漠草原分布其间。穿市而过的黄河弯延105公里，形成狭长的河滩湿地和农业绿洲。由于日照时间长，昼夜温差大，给蔬菜、瓜果等农作物种植带来得天独厚的条件。这里生产的葡萄含糖量高、爽口甘甜，是闻名遐迩的特色果品。当地的万亩葡萄园成为这里农业的一大特色。 改革开放以来，乌海的经济和社会发展速度加快，特别是“十五”期间，乌海高载能产业发展迅速，形成了新的资源转化格局；城市建设日新月异，基础设施日臻完善。一个经济上发展迅猛，城市面貌焕然一新的局面，正吸引着八方来客。 </span>
                </div>
            </div>
            <!--旅游景点-->
            <div class="column4">
                <div class="title5"><a name="旅游景点">更多></a>
                    <h1>旅游景点</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/金沙湾生态旅游区.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">金沙湾生态旅游区</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/胡杨岛.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">胡杨岛</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/甘德尔山奇峡谷.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">甘德尔山奇峡谷</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/黄河滩岛.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">黄河滩岛</a></span>
                    </li>
                </ul>
            </div>

          <!--酒店住宿-->
          <div class="column4">
            <div class="title5"><a name="酒店住宿">更多></a>
              <h1>酒店住宿</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/乌海格兰云天国际酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">乌海格兰云天国际酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/乌海兴泰蓝海名都假日酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">乌海兴泰蓝海名都假日酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/乌海禧悦国际酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">乌海禧悦国际酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/乌海亿信国际酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">乌海亿信国际酒店</a></span>
              </li>
            </ul>
          </div>

          <!--娱乐购物-->
          <div class="column4">
            <div class="title5"><a name="娱乐购物">更多></a>
              <h1>娱乐购物</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/hotwind(银川乌海时代店).jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">hotwind(银川乌海时代店)</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/大悦城.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">大悦城</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/乌海茶庄.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">乌海茶庄</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/乌海万达广场.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">乌海万达广场</a></span>
              </li>
            </ul>
          </div>
            <!--特色美食-->
            <div class="column4">
                <div class="title5"><a name="特色美食">更多></a>
                    <h1>特色美食</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/酒锅牛三宝.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">酒锅牛三宝</a></span>
                        <span class="lyinfo">酒锅牛三宝，顾名思义，就是在酒精锅上烹饪的牛三宝食物。</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/龙凤呈祥.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">龙凤呈祥</a></span>
                        <span class="lyinfo">黄河鲤鱼、香酥鸡，鱼肉烹制成糟溜鱼片、宫保鱼丁、馏鱼腐和香茄鱼条，分别对衬围摆装盘成整鱼形即成...</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/蜜汁天鹅蛋.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">蜜汁天鹅蛋</a></span>
                        <span class="lyinfo">此菜用土豆为主要原料，配上蛋黄、面粉烹制而成。</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/清汤牛尾.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">清汤牛尾</a></span>
                        <span class="lyinfo">清汤牛尾，是用原鲜牛尾为主要原料，配以鱼肚、海参、鸡腿、口蘑等煽制而成。</span>
                    </li>
                </ul>
            </div>
        </div>


        <!--右侧部分-->
        <div class="right310">
            <!--地区文化知识-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>地区文化知识</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/乌海11.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">乌海</a></h2>
                        <p>乌海市是内蒙古自治区西部的新兴工业城市，地处大陆深处，属于典型的大陆性气候。</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">‘翰墨长河’中国书法城·乌海书法</a></li>
                    <li>·<a href="#">移民城市---乌海</a></li>
                    <li>·<a href="#">葡萄酒博物馆：品味“乌海味道”</a></li>
                    <li>·<a href="#">市博物馆：遍历乌海历史风貌</a></li>
                    <li>·<a href="#">煤炭博物馆：探寻乌海兴盛历程</a></li>
                    <li>·<a href="#">蒙古族家居博物馆：感受民族风情</a></li>
                    <li>·<a href="#">满巴拉僧蒙医药博物馆：看民族医疗文化</a></li>
                    <li>·<a href="#">民俗博物馆：忆往昔岁月</a></li>
                    <li>·<a href="#">博物馆里的乌海文化</a></li>
                    <li>·<a href="#">内蒙古乌海民俗之马文化</a></li>
                </ul>
            </div>

          <div class="column5">
            <div class="title5"><a href="#">更多></a>
              <h1>旅游新闻</h1></div>
            <div class="topnews1">
              <div class="tjimg"><img src="images/乌海11.jpg" width="108" height="80"/></div>
              <div class="tjt"><h2><a href="#">旅游新闻</a></h2>
                <p>新闻的新，新闻的闻</p></div>
            </div>
            <div class="clear"></div>
            <ul class="list10">
              <li>·<a href="#">乌海："旅游+"战略发展乡村游</a></li>
              <li>·<a href="#">乌海“长三角”招商签约金额达330多亿元</a></li>
              <li>·<a href="#">乌海：完善厕所建设 保障服务民众</a></li>
              <li>·<a href="#">荣乌高速棋盘井至乌海段正式通车</a></li>
              <li>·<a href="#">“八百里黄河行”大型采风活动在乌海启动</a></li>
              <li>·<a href="#">乌海湖丨世间永不褪色的传说</a></li>
              <li>·<a href="#">黄河内蒙古乌海段开河</a></li>
              <li>·<a href="#">乌海市以实际行动推进环保整改工作落实落细</a></li>
              <li>·<a href="#">乌海一建筑工地夜间施工扰民问题得到解决</a></li>
              <li>·<a href="#">乌海市旅体委开展“五一”节前旅游安全大检查</a></li>
            </ul>
          </div>
            <!--旅游资讯-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>旅游资讯</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/乌海11.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">小小资讯</a></h2>
                        <p>带你步入书法之家，帮助你更快的了解乌海</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">"中国书法城"乌海又有新称号 获誉"中国赏石城"</a></li>
                    <li>·<a href="#">低调的实力派——乌海</a></li>
                    <li>·<a href="#">内蒙古花季乌海葡萄季旅游节开幕</a></li>
                    <li>·<a href="#">乌海市艏个休闲观光旅游试点项目启动</a></li>
                    <li>·<a href="#">乌海：改善环境质量 推动绿色发展</a></li>
                    <li>·<a href="#">骑行更是旅行，乌海旅发委携手ofo约你沙漠看海</a></li>
                    <li>·<a href="#">单车上的风景——乌海旅游开启骑游模式</a></li>
                    <li>·<a href="#">乌海市与多省市签订旅游合作协议</a></li>
                    <li>·<a href="#">乌海：众志成城冲刺“魅力中国城”城市</a></li>
                    <li>·<a href="#">“5·20相约乌海大声表白”万人徒步等你来!</a></li>
                    <li>·<a href="#">“沙漠”+“海”奇妙混搭，疯狂旅行团带你玩乌海</a></li>
                    <li>·<a href="#">聚焦｜乌海：“沙漠看海”展开全域旅游多彩画卷</a></li>
                    <li>·<a href="#">旅游混搭摄影，打开乌海的疯狂旅行新方式</a></li>

                </ul>
            </div>

        </div>

    </div>

</div>

<!--底部-->
<div id="footer">
    <div class="fnav"><a href="#">关于我们</a>|<a href="#">免责条款</a>|<a href="#">加入收藏</a>|<a href="#">设为首页</a></div>
    <div class="copyright">版权所有：呼和浩特内电子 电话：0000-0000000 地址：呼和浩特赛罕区内蒙古电子信息职业技术学院 邮编：000000 邮箱：xxxxx@xxx.com<br/>
        内ICP备00000000号 <a href="http://www.aspku.com/" target="_blank">呼和之家</a></div>
</div>
</body>
</html>
