<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>兴安盟</title>
    <meta name="keywords" content="兴安盟 "/>
    <meta name="description" content="兴安盟 "/>
    <link href="css/whir_css.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="script/jquery.js"></script>
    <script type="text/javascript" src="script/superslide.2.1.js"></script>
</head>
<body>
<!--header-->
<div id="header">
    <div class="top">
        <div class="time">
            <script language=JavaScript>
                <!--
                var enabled = 0;
                today = new Date();
                var day;
                var date;
                if (today.getDay() == 0) day = " 星期日"
                if (today.getDay() == 1) day = " 星期一"
                if (today.getDay() == 2) day = " 星期二"
                if (today.getDay() == 3) day = " 星期三"
                if (today.getDay() == 4) day = " 星期四"
                if (today.getDay() == 5) day = " 星期五"
                if (today.getDay() == 6) day = " 星期六"
                document.fgColor = "000000";
                date = "现在是:" + (today.getFullYear()) + "年" + (today.getMonth() + 1) + "月" + today.getDate() + "日" + day + "";
                document.write(date);
                // -->
            </script>
        </div>
        <div class="weather">
            <iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true"
                    src="http://i.tianqi.com/index.php?c=code&id=1&icon=1&py=xinganmeng&wind=1&num=2&site=12"></iframe>
        </div>
        <div class="tnav"><a href="http://www.nmgzzqlyxh.org/">内蒙古旅游协会</a>|<a href="#">内电子出品</a></div>
    </div>
    <div class="nav">
        <div class="navmenu">
            <div class="logo"><a href="index.html"><img src="images/logo.jpg" width="190" height="70"/></a></div>
            <ul>
                <li><a href="#旅游景点">旅游景点</a></li>
                <li><a href="#酒店住宿" class="on">酒店住宿</a></li>
                <li><a href="#">出行交通</a></li>
                <li><a href="#娱乐购物">娱乐购物</a></li>
                <li><a href="#">旅游新闻</a></li>
                <li><a href="#">地区文化知识</a></li>
                <li><a href="#特色美食">特色美食</a></li>
                <li><a href="#">旅游资讯</a></li>
                <li><a href="#">旅游攻略</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="nybanner" style="background:url(images/兴安盟.jpg) center no-repeat;"></div>
<!--中间内容-->
<div id="subbox">
    <div class="position">当前位置：<a href="#">首页</a> >兴安盟</div>
    <div class="mainsub">
        <!--左侧部分-->
        <div class="left870">
            <!--乌兰察布旅游地图-->
            <div class="column4">
                <div class="title5"><a name="">更多></a>
                    <h1>兴安盟旅游地图</h1></div>
                <div class="lvmap">
                    <span class="lvL"><img src="images/兴安盟地图.jpg" width="304" height="221"/></span>
                    <span class="lvR">兴安盟，隶属于内蒙古自治区，位于内蒙古的东北部，东北与黑龙江省相连，东南与吉林省毗邻，南部、西部、北部分别与通辽市、锡林郭勒盟和呼伦贝尔市相连。西北部与蒙古国接壤，边境线长126千米。盟境南北长380千米，东西宽320千米，总面积59806平方千米。截至2018年末，兴安盟下辖2个县级市、1个县、3个旗兴安盟境内有白阿、通霍两条铁路经过，有开往北京的（574次）始发直达列车；公路四通八达，交织成网，111、302两条国道贯穿兴安盟南北，民航班机途经北京，直达呼和浩特；通讯实现了交换程控化、传输数字化、国际国内直拨。有着良好的投资环境。，常住人口160.79万人，实现地区生产总值（GDP）472.48亿元，其中：第一产业增加值154.18亿元，第二产业增加值136.82亿元，第三产业增加值181.48亿元，三次产业比例为32.6：29.0：38.4，人均地区生产总值29419元。</span>
                </div>
            </div>
            <!--旅游景点-->
            <div class="column4">
                <div class="title5"><a name="旅游景点">更多></a>
                    <h1>旅游景点</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/兴安蒙古包旅游村.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">兴安蒙古包旅游村</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/兴安盟成吉思汗庙.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">兴安盟成吉思汗庙</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/海神圣泉旅游度假区.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">海神圣泉旅游度假区</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/翰嘎利——五角枫休闲旅游度假区.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">翰嘎利——五角枫休闲旅游度假区</a></span>
                    </li>
                </ul>
            </div>

          <!--酒店住宿-->
          <div class="column4">
            <div class="title5"><a name="酒店住宿">更多></a>
              <h1>酒店住宿</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/阿尔山市鹏来民宿小屋.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">阿尔山市鹏来民宿小屋</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/阿尔山温馨家庭公寓.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">阿尔山温馨家庭公寓</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/安静舒适一居室.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">安静舒适一居室</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/依山傍水舒心两居公寓%20二楼.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">依山傍水舒心两居公寓 二楼</a></span>
              </li>
            </ul>
          </div>

          <!--娱乐购物-->
          <div class="column4">
            <div class="title5"><a name="娱乐购物">更多></a>
              <h1>娱乐购物</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/乌兰浩特百货大楼.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">乌兰浩特百货大楼</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/万泰新天地.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">万泰新天地</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/乌兰浩特市凯乐石户外用品店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">乌兰浩特市凯乐石户外用品店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/佳美嘉大卖场.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">佳美嘉大卖场</a></span>
              </li>
            </ul>
          </div>
            <!--特色美食-->
            <div class="column4">
                <div class="title5"><a name="特色美食">更多></a>
                    <h1>特色美食</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/王小二大饼.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">王小二大饼</a></span>
                        <span class="lyinfo">相传兴安盟回族已故王小二师傅自幼学徒，经过名师指点制成王小二吊炉饼</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/安烤羊腿.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">安烤羊腿</a></span>
                        <span class="lyinfo">兴安烤羊腿色泽鲜艳、肉酥味美，营养丰富，滋补身体，是一道深受人们喜爱的蒙古名菜</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/木灵芝.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">木灵芝</a></span>
                        <span class="lyinfo">木灵芝兴安盟的特产木灵芝是灵芝的其中一个别名</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/风干牛肉.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">风干牛肉</a></span>
                        <span class="lyinfo">牛肉干源于蒙古铁骑的军粮，携带方便，并且有丰富的营养。被誉为“成吉思汗的行军粮”</span>
                    </li>
                </ul>
            </div>
        </div>


        <!--右侧部分-->
        <div class="right310">
            <!--地区文化知识-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>地区文化知识</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/兴安盟1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">锡林郭勒</a></h2>
                        <p>锡林郭勒盟自古以来就是中国北方各族人民劳动、生活、繁衍的地方。</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">农耕文化</a></li>
                    <li>·<a href="#">历史文化</a></li>
                    <li>·<a href="#">民族文化</a></li>
                    <li>·<a href="#">红色文化</a></li>
                    <li>·<a href="#">阿尔山冰雪节</a></li>
                    <li>·<a href="#">国家级非物质文化遗产-好来宝</a></li>
                    <li>·<a href="#">突泉拉场戏</a></li>
                    <li>·<a href="#">成吉思汗祭典</a></li>
                    <li>·<a href="#">那达慕大会</a></li>
                    <li>·<a href="#">拉场戏二人转</a></li>
                </ul>
            </div>

          <div class="column5">
            <div class="title5"><a href="#">更多></a>
              <h1>旅游新闻</h1></div>
            <div class="topnews1">
              <div class="tjimg"><img src="images/兴安盟1.jpg" width="108" height="80"/></div>
              <div class="tjt"><h2><a href="#">旅游新闻</a></h2>
                <p>新闻的新，新闻的闻</p></div>
            </div>
            <div class="clear"></div>
            <ul class="list10">
              <li>·<a href="#">内蒙古兴安盟科右前旗开展青少年毒品预防教育讲座</a></li>
              <li>·<a href="#">多点发力全面落实党的十九大精神学习宣传贯彻任务</a></li>
              <li>·<a href="#">兴安盟整改完成9项中央环保督察反馈问题</a></li>
              <li>·<a href="#">兴安盟：奏起农业结构调整交响曲</a></li>
              <li>·<a href="#">上半年兴安盟旅游收入33.69亿元</a></li>
              <li>·<a href="#">兴安盟全力创建中国草原生态稻米之都</a></li>
              <li>·<a href="#">兴安盟在呼和浩特推介冬季旅游</a></li>
              <li>·<a href="#">兴安盟白狼好生态引来多样野生动物</a></li>
              <li>·<a href="#">兴安盟旱情持续 土壤湿度跌至新低</a></li>
              <li>·<a href="#">内蒙古艏个旅游在线解纷平台在兴安盟开通</a></li>
            </ul>
          </div>
            <!--旅游资讯-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>旅游资讯</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/兴安盟1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">小小资讯</a></h2>
                        <p>带你步入突泉拉场戏，帮助你更快的了解兴安盟</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">呼伦贝尔市与兴安盟联手打造“海满阿”旅游精品区</a></li>
                    <li>·<a href="#">兴安盟在呼和浩特推介冬季旅游</a></li>
                    <li>·<a href="#">内蒙古美食文化节暨首届兴安盟大米美食文化节开幕</a></li>
                    <li>·<a href="#">内蒙古首个旅游在线解纷平台在兴安盟开通</a></li>
                    <li>·<a href="#">兴安盟科右前旗打造世界及蒙元历史文化主题公园</a></li>
                    <li>·<a href="#">兴安盟将重点推进景区景点建设</a></li>
                    <li>·<a href="#">兴安盟2014年10月份旅游统计情况</a></li>
                    <li>·<a href="#">内蒙古兴安盟阿尔山市推出6条冬季旅游路线</a></li>
                    <li>·<a href="#">白城松原兴安盟三地旅游协会签约</a></li>
                    <li>·<a href="#">内蒙古兴安盟旅游资源推介会在清远市召开</a></li>
                    <li>·<a href="#">呼伦贝尔市与兴安盟联手打造“海满阿”旅游精品区</a></li>
                    <li>·<a href="#">发展全域旅游 兴安盟让绿色成为底色和品牌</a></li>
                    <li>·<a href="#">内蒙古兴安盟察尔森湖第二届冰雪渔猎文化旅游节开幕</a></li>

                </ul>
            </div>

        </div>

    </div>

</div>

<!--底部-->
<div id="footer">
    <div class="fnav"><a href="#">关于我们</a>|<a href="#">免责条款</a>|<a href="#">加入收藏</a>|<a href="#">设为首页</a></div>
    <div class="copyright">版权所有：呼和浩特内电子 电话：0000-0000000 地址：呼和浩特赛罕区内蒙古电子信息职业技术学院 邮编：000000 邮箱：xxxxx@xxx.com<br/>
        内ICP备00000000号 <a href="http://www.aspku.com/" target="_blank">呼和之家</a></div>
</div>
</body>
</html>
