<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>包头</title>
    <meta name="keywords" content="包头 "/>
    <meta name="description" content="包头 "/>
    <link href="css/whir_css.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="script/jquery.js"></script>
    <script type="text/javascript" src="script/superslide.2.1.js"></script>
</head>
<body>
<!--header-->
<div id="header">
    <div class="top">
        <div class="time">
            <script language=JavaScript>
                <!--
                var enabled = 0;
                today = new Date();
                var day;
                var date;
                if (today.getDay() == 0) day = " 星期日"
                if (today.getDay() == 1) day = " 星期一"
                if (today.getDay() == 2) day = " 星期二"
                if (today.getDay() == 3) day = " 星期三"
                if (today.getDay() == 4) day = " 星期四"
                if (today.getDay() == 5) day = " 星期五"
                if (today.getDay() == 6) day = " 星期六"
                document.fgColor = "000000";
                date = "现在是:" + (today.getFullYear()) + "年" + (today.getMonth() + 1) + "月" + today.getDate() + "日" + day + "";
                document.write(date);
                // -->
            </script>
        </div>
        <div class="weather">
            <iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true"
                    src="http://i.tianqi.com/index.php?c=code&id=1&icon=1&py=baotou&wind=0&num=1"></iframe>
        </div>
        <div class="tnav"><a href="http://www.nmgzzqlyxh.org/">内蒙古旅游协会</a>|<a href="#">内电子出品</a></div>
    </div>
    <div class="nav">
        <div class="navmenu">
            <div class="logo"><a href="index.html"><img src="images/logo.jpg" width="190" height="70"/></a></div>
            <ul>
                <li><a href="#旅游景点">旅游景点</a></li>
                <li><a href="#酒店住宿" class="on">酒店住宿</a></li>
                <li><a href="#">出行交通</a></li>
                <li><a href="#娱乐购物">娱乐购物</a></li>
                <li><a href="#">旅游新闻</a></li>
                <li><a href="#">地区文化知识</a></li>
                <li><a href="#特色美食">特色美食</a></li>
                <li><a href="#">旅游资讯</a></li>
                <li><a href="#">旅游攻略</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="nybanner" style="background:url(images/包头.jpg) center no-repeat;"></div>
<!--中间内容-->
<div id="subbox">
    <div class="position">当前位置：<a href="#">首页</a> > 包头</div>
    <div class="mainsub">
        <!--左侧部分-->
        <div class="left870">
            <!--包头旅游地图-->
            <div class="column4">
                <div class="title5"><a name="">更多></a>
                    <h1>包头旅游地图</h1></div>
                <div class="lvmap">
                    <span class="lvL"><img src="images/包头地图.jpg" width="304" height="221"/></span>
                    <span class="lvR">包头,中国内蒙古自治区第一大城市，又称鹿城、草原钢城。
　　随着包头钢铁（集团）有限责任公司和包头稀土研究院的建成与发展，这里又被称作稀土之都。
　　包头位于内蒙古自治区中部，东与呼和浩特市相邻，西与巴彦淖尔盟市连接 ，北与蒙古国接壤 ，南濒黄河与鄂尔多斯市隔河相望。最新，新建滨河新区后，包头市辖11个旗、县、区，其中：5个市区（昆都仑区、青山区、东河区、九原区、滨河新区）2个矿区（白云鄂博矿区、石拐区），4个农牧业旗县区（土默特右旗、达尔罕茂明安联合旗、固阳县），此外1个经济开发区------稀土高新区。总面积27768平方公里。人口245.76万， 居住着蒙、汉、回、满、达斡尔、鄂伦春等31个民族。
包头是国务院首批确定的十三个较大城市之一，是内蒙古自治区最大的工业城市，是国家重要的基础工业基地。包头的地理坐标是东经109度50分至111度25分、北纬41度20分至42度40分，面积为27691平方公里。</span>
                </div>
            </div>
            <!--旅游景点-->
            <div class="column4">
                <div class="title5"><a name="旅游景点">更多></a>
                    <h1>旅游景点</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/五当召.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">五当召</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/北方兵器城.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">北方兵器城</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/南海湿地景区.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">南海湿地景区</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/包头博物馆.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">包头博物馆</a></span>
                    </li>
                </ul>
            </div>

          <!--酒店住宿-->
          <div class="column4">
            <div class="title5"><a name="酒店住宿">更多></a>
              <h1>酒店住宿</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/包头凯宾酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">包头凯宾酒店 </a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/包头璞悦酒店（赛罕塔拉店）.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">包头璞悦酒店（赛罕塔拉店）</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/包头君临阁酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">包头君临阁酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/包头世茂大酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">包头世茂大酒店</a></span>
              </li>
            </ul>
          </div>

          <!--娱乐购物-->
          <div class="column4">
            <div class="title5"><a name="娱乐购物">更多></a>
              <h1>娱乐购物</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/青山万达广场.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">青山万达广场</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/包百商业步行街.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">包百商业步行街</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/hotwind(包头维多利商厦店).jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">hotwind(包头维多利商厦店)</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/包头百货大楼(东河区店).jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">包头百货大楼(东河区店)</a></span>
              </li>
            </ul>
          </div>
            <!--特色美食-->
            <div class="column4">
                <div class="title5"><a name="特色美食">更多></a>
                    <h1>特色美食</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/烧罗汉珠.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">烧罗汉珠</a></span>
                        <span class="lyinfo">鸡胸肉捣成肉泥，加蛋清粉团搅拌，下锅汆成丸子，捞出后入油锅炒，加入玉兰片、口蘑片、胡萝卜片炒制。</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/全素席.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">全素席</a></span>
                        <span class="lyinfo">全素席以豆制品和新鲜蔬菜为主，辅以冬笋、蘑菇、木耳、黄花等，烹出色、香、味、形可比荤菜的素菜。</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/驼掌.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">驼掌</a></span>
                        <span class="lyinfo">驼掌营养丰富，与熊掌、燕窝、猴头相齐名，是中国四大名菜之一，为古代宫廷御膳用的“北八珍”之一。</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/汤粉饺子.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">汤粉饺子</a></span>
                        <span class="lyinfo">俗称“皮条拉石头”。饺子馅可用猪肉或羊肉，配以白菜、萝卜和各种佐料，包成饺子，选用扁豆制成粉坨。</span>
                    </li>
                </ul>
            </div>
        </div>


        <!--右侧部分-->
        <div class="right310">
            <!--地区文化知识-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>地区文化知识</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/包头1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">包头</a></h2>
                        <p>内蒙古自治区下辖地级市、拥有地方立法权的较大的市，是内蒙古自治区的经济中心之一</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">沟通北方草原游牧文化与中原农耕文化的要塞</a></li>
                    <li>·<a href="#">草原本质生态、游牧特色文化、民生人文关怀</a></li>
                    <li>·<a href="#">二人台基础上创建的地方戏曲剧种漫瀚剧产生在包头</a></li>
                    <li>·<a href="#">鼻烟壶清代艺术之一鼻烟壶是蒙古族传统社交礼品</a></li>
                    <li>·<a href="#">妙法寺又称吕祖庙是汉族佛教与当地文化融合的体现</a></li>
                    <li>·<a href="#">美岱召是喇嘛教传入蒙古时的一个重要弘法中心</a></li>
                    <li>·<a href="#">固阳剪纸</a></li>
                    <li>·<a href="#">草原钢城</a></li>
                    <li>·<a href="#">固阳麦秆画</a></li>
                    <li>·<a href="#">内蒙古牛皮画</a></li>
                </ul>
            </div>

          <div class="column5">
            <div class="title5"><a href="#">更多></a>
              <h1>旅游新闻</h1></div>
            <div class="topnews1">
              <div class="tjimg"><img src="images/呼和浩特.jpg" width="108" height="80"/></div>
              <div class="tjt"><h2><a href="#">旅游新闻</a></h2>
                <p>新闻的新，新闻的闻</p></div>
            </div>
            <div class="clear"></div>
            <ul class="list10">
              <li>·<a href="#">包头装备制造产业园区获评国家绿色园区</a></li>
              <li>·<a href="#">包头12家企业被评为旅游产业扶贫基地</a></li>
              <li>·<a href="#">转型创新环保成为老工业基地包头发展关键词</a></li>
              <li>·<a href="#">第二届中国工业旅游会议体会座谈会在包头市召开</a></li>
              <li>·<a href="#">包头市旅发委领导调研工业旅游</a></li>
              <li>·<a href="#">包头：加强工业文化挖掘 推动工业游发展</a></li>
              <li>·<a href="#">清明假期实现旅游收入4.62亿元同比增长16%</a></li>
              <li>·<a href="#">《包头使用说明》</a></li>
              <li>·<a href="#">包头市今年要让18万亩国土披绿</a></li>
              <li>·<a href="#">包头市开展旅游景区食品安全专项检查</a></li>
            </ul>
          </div>
            <!--旅游资讯-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>旅游资讯</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/包头1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">小小资讯</a></h2>
                        <p>带你步入钢铁之城，帮助你更快的了解包头</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">包头旅游搭上美食快车</a></li>
                    <li>·<a href="#">包头市新增3家AA级旅游景区</a></li>
                    <li>·<a href="#">包头市旅发委领导调研工业旅游</a></li>
                    <li>·<a href="#">包头市花舞人间景区被评定为国家4A级景区</a></li>
                    <li>·<a href="#">包头市开展旅游景区食品安全专项检查</a></li>
                    <li>·<a href="#">包头市旅发委召开全市旅游企业扶贫对接会</a></li>
                    <li>·<a href="#">内蒙古包头市上演别样“灵意世界”</a></li>
                    <li>·<a href="#">包头市文体广电旅游局发挥政府职能助推旅游业发展</a></li>
                    <li>·<a href="#">包头土右旗：打造特色民宿 推动乡村旅游发展</a></li>
                    <li>·<a href="#">包头市动物园改造升级后开园</a></li>
                    <li>·<a href="#">游记丨你不可不知的藏传佛教名寺：内蒙五当召</a></li>
                    <li>·<a href="#">第十届中国包头·稀土产业论坛召开</a></li>
                    <li>·<a href="#">国庆假期包头旅游收入9.8亿元 同比增长16.3%</a></li>

                </ul>
            </div>

        </div>

    </div>

</div>

<!--底部-->
<div id="footer">
    <div class="fnav"><a href="#">关于我们</a>|<a href="#">免责条款</a>|<a href="#">加入收藏</a>|<a href="#">设为首页</a></div>
    <div class="copyright">版权所有：呼和浩特内电子 电话：0000-0000000 地址：呼和浩特赛罕区内蒙古电子信息职业技术学院 邮编：000000 邮箱：xxxxx@xxx.com<br/>
        内ICP备00000000号 <a href="http://www.aspku.com/" target="_blank">呼和之家</a></div>
</div>
</body>
</html>
