<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>周边旅游</title>
    <meta name="keywords" content="周边旅游 "/>
    <meta name="description" content="周边旅游 "/>
    <link href="css/whir_css.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="script/jquery.js"></script>
    <script type="text/javascript" src="script/superslide.2.1.js"></script>
</head>
<body>
<!--header-->
<div id="header">
    <div class="top">
        <div class="time">
            <script language=JavaScript>
                <!--
                var enabled = 0;
                today = new Date();
                var day;
                var date;
                if (today.getDay() == 0) day = " 星期日"
                if (today.getDay() == 1) day = " 星期一"
                if (today.getDay() == 2) day = " 星期二"
                if (today.getDay() == 3) day = " 星期三"
                if (today.getDay() == 4) day = " 星期四"
                if (today.getDay() == 5) day = " 星期五"
                if (today.getDay() == 6) day = " 星期六"
                document.fgColor = "000000";
                date = "现在是:" + (today.getFullYear()) + "年" + (today.getMonth() + 1) + "月" + today.getDate() + "日" + day + "";
                document.write(date);
                // -->
            </script>
        </div>
        <div class="weather">
            <iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true"
                    src="http://i.tianqi.com/index.php?c=code&id=1&icon=1&py=alashanmeng&wind=1&num=2&site=12"></iframe>
        </div>
        <div class="tnav"><a href="http://www.nmgzzqlyxh.org/">内蒙古旅游协会</a>|<a href="#">内电子出品</a></div>
    </div>
    <div class="nav">
        <div class="navmenu">
            <div class="logo"><a href="index.html"><img src="images/logo.jpg" width="190" height="70"/></a></div>
            <ul>
                <li><a href="#旅游景点">旅游景点</a></li>
                <li><a href="#酒店住宿" class="on">酒店住宿</a></li>
                <li><a href="#">出行交通</a></li>
                <li><a href="#娱乐购物">娱乐购物</a></li>
                <li><a href="#">旅游新闻</a></li>
                <li><a href="#">地区文化知识</a></li>
                <li><a href="#特色美食">特色美食</a></li>
                <li><a href="#">旅游资讯</a></li>
                <li><a href="#">旅游攻略</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="nybanner" style="background:url(images/内蒙周边.jpg) center no-repeat;"></div>
<!--中间内容-->
<div id="subbox">
    <div class="position">当前位置：<a href="#">首页</a> >周边旅游</div>
    <div class="mainsub">
        <!--左侧部分-->
        <div class="left870">
            <!--周边旅游旅游地图-->
            <div class="column4">
                <div class="title5"><a name="">更多></a>
                    <h1>周边旅游地图</h1></div>
                <div class="lvmap">
                    <span class="lvL"><img src="images/周边旅游地图.jpg" width="304" height="221"/></span>
                    <span class="lvR">省：黑龙江 吉林 辽宁 北京 甘肃
                        <br>市：哈尔滨 长春 沈阳 银川 北京 太原 石家庄</span>
                </div>
            </div>
            <!--旅游景点-->
            <div class="column4">
                <div class="title5"><a name="旅游景点">更多></a>
                    <h1>旅游景点</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/哈尔滨波塞冬海底世界.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">哈尔滨波塞冬海底世界 </a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/八达岭长城.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">八达岭长城</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/净月潭.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">净月潭</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/宁夏川民俗园.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">宁夏川民俗园</a></span>
                    </li>
                </ul>
            </div>

          <!--酒店住宿-->
          <div class="column4">
            <div class="title5"><a name="酒店住宿">更多></a>
              <h1>酒店住宿</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/哈尔滨融创万达嘉华酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">哈尔滨融创万达嘉华酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/北京希尔顿逸林酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">北京希尔顿逸林酒店 </a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/吉林世贸万锦大酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">吉林世贸万锦大酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/银川印象家酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">银川印象家酒店</a></span>
              </li>
            </ul>
          </div>

          <!--娱乐购物-->
          <div class="column4">
            <div class="title5"><a name="娱乐购物">更多></a>
              <h1>娱乐购物</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/凯德广场(学府店).jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">凯德广场(学府店)</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/首地大峡谷购物中心.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">首地大峡谷购物中心</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/名爵美丽广场.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">名爵美丽广场</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/唐城时尚购物广场.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">唐城时尚购物广场</a></span>
              </li>
            </ul>
          </div>
            <!--特色美食-->
            <div class="column4">
                <div class="title5"><a name="特色美食">更多></a>
                    <h1>特色美食</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/哈尔滨红肠.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">哈尔滨红肠</a></span>
                        <span class="lyinfo">哈尔滨红肠主要是用肉、肠衣、淀粉，大蒜，盐和硝等制作</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/北京烤鸭.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">北京烤鸭</a></span>
                        <span class="lyinfo">色泽是非常的红润的，肉质非常的细嫩，味道非常的醇香，具有肥而不腻的特点，被称为“天下美味”一点也都不过分</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/延吉——冷面、烤肉.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">延吉——冷面、烤肉</a></span>
                        <span class="lyinfo">冷面入口后，柔韧耐嚼，凉爽清淡，汤汤水水，滑顺润喉，令人食欲大增，全身舒爽。</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/朱老大酸菜刀削面（进宁北街店）.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">朱老大酸菜刀削面（进宁北街店）</a></span>
                        <span class="lyinfo">熬过的汤汁鲜香浓郁，刀削面劲道十足，牛肉饱满大颗，配以青菜、萝卜、葱花，一碗面丰富营养</span>
                    </li>
                </ul>
            </div>
        </div>


        <!--右侧部分-->
        <div class="right310">
            <!--地区文化知识-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>地区文化知识</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/内蒙周边1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">周边文化</a></h2>
                        <p></p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">哈尔滨方言</a></li>
                    <li>·<a href="#">哈尔滨野游的风俗</a></li>
                    <li>·<a href="#">冰上婚礼</a></li>
                    <li>·<a href="#">北京传统民居形式-四合院</a></li>
                    <li>·<a href="#">中国五大戏曲剧种之一京剧</a></li>
                    <li>·<a href="#">老北京十大胡同</a></li>
                    <li>·<a href="#">别具一格的二人转文化</a></li>
                    <li>·<a href="#">独具特色唱腔的吉林黄龙戏文化</a></li>
                    <li>·<a href="#">一种自然行为的歌声“长白山森林号子”</a></li>
                    <li>·<a href="#">具有当地特色的吉林结婚习俗</a></li>
                </ul>
            </div>

          <div class="column5">
            <div class="title5"><a href="#">更多></a>
              <h1>旅游新闻</h1></div>
            <div class="topnews1">
              <div class="tjimg"><img src="images/内蒙周边1.jpg" width="108" height="80"/></div>
              <div class="tjt"><h2><a href="#">旅游新闻</a></h2>
                <p>新闻的新，新闻的闻</p></div>
            </div>
            <div class="clear"></div>
            <ul class="list10">
              <li>·<a href="#">《印象鄂尔多斯》巡回摄影展在哈尔滨启动</a></li>
              <li>·<a href="#">“内蒙古察哈尔传统奶食”亮相国务院新闻发布大厅</a></li>
              <li>·<a href="#">“十一”假期火车票开卖 多条线路首日票售罄</a></li>
              <li>·<a href="#">9家航司入驻大兴机场，日均航班量将达280班</a></li>
              <li>·<a href="#">错峰出游性价比高 节后市场淡季不淡</a></li>
              <li>·<a href="#">“冰天雪地也是金山银山”，龙江人领会到了</a></li>
              <li>·<a href="#">第三届火山口千人徒步活动将在牡丹江举行</a></li>
              <li>·<a href="#">杭锦后旗，盛载着古老文化的车子</a></li>
              <li>·<a href="#">“五一”出行趋势报告：居民出行出游需求旺盛</a></li>
              <li>·<a href="#">“拼假”成年末出游关键词</a></li>
            </ul>
          </div>
            <!--旅游资讯-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>旅游资讯</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/内蒙周边1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">小小资讯</a></h2>
                        <p>带你步入内蒙周边，帮助你更快的了解周边资讯</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">哈尔滨至吉隆坡、雅加达国际客运航线开通</a></li>
                    <li>·<a href="#">哈尔滨将免费开放太阳岛公园</a></li>
                    <li>·<a href="#">哈尔滨冰雪大世界入园人次突破百万</a></li>
                    <li>·<a href="#">国庆假期阿拉善盟文旅市场持续火热</a></li>
                    <li>·<a href="#">北京：香山赏红叶建议蕞好乘坐公共交通</a></li>
                    <li>·<a href="#">在北京走错机场怎么办？东航公布应急预案</a></li>
                    <li>·<a href="#">北京：前门至奥林匹克公园夜景观光线路开通</a></li>
                    <li>·<a href="#">北京拟出新规，酒店一次性消费品将被打入“冷宫”</a></li>
                    <li>·<a href="#">吉林发布“乡村旅游发展17条”</a></li>
                    <li>·<a href="#">“美丽中国行”探访吉林22℃之夏</a></li>
                    <li>·<a href="#">吉林：乡村旅游产业旺 特色发展天地宽</a></li>
                    <li>·<a href="#">第四届中阿博览会将于9月在银川举行</a></li>
                    <li>·<a href="#">2019陕甘宁青新美术作品展在银川启幕</a></li>

                </ul>
            </div>

        </div>

    </div>

</div>

<!--底部-->
<div id="footer">
    <div class="fnav"><a href="#">关于我们</a>|<a href="#">免责条款</a>|<a href="#">加入收藏</a>|<a href="#">设为首页</a></div>
    <div class="copyright">版权所有：呼和浩特内电子 电话：0000-0000000 地址：呼和浩特赛罕区内蒙古电子信息职业技术学院 邮编：000000 邮箱：xxxxx@xxx.com<br/>
        内ICP备00000000号 <a href="http://www.aspku.com/" target="_blank">呼和之家</a></div>
</div>
</body>
</html>
