<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>国际旅游</title>
    <meta name="keywords" content="国际旅游 "/>
    <meta name="description" content="国际旅游 "/>
    <link href="css/whir_css.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="script/jquery.js"></script>
    <script type="text/javascript" src="script/superslide.2.1.js"></script>
</head>
<body>
<!--header-->
<div id="header">
    <div class="top">
        <div class="time">
            <script language=JavaScript>
                <!--
                var enabled = 0;
                today = new Date();
                var day;
                var date;
                if (today.getDay() == 0) day = " 星期日"
                if (today.getDay() == 1) day = " 星期一"
                if (today.getDay() == 2) day = " 星期二"
                if (today.getDay() == 3) day = " 星期三"
                if (today.getDay() == 4) day = " 星期四"
                if (today.getDay() == 5) day = " 星期五"
                if (today.getDay() == 6) day = " 星期六"
                document.fgColor = "000000";
                date = "现在是:" + (today.getFullYear()) + "年" + (today.getMonth() + 1) + "月" + today.getDate() + "日" + day + "";
                document.write(date);
                // -->
            </script>
        </div>
        <div class="weather">
            <iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true"
                    src="http://i.tianqi.com/index.php?c=code&id=1&icon=1&py=maerdaifu&wind=0&num=1"></iframe>
        </div>
        <div class="tnav"><a href="http://www.nmgzzqlyxh.org/">内蒙古旅游协会</a>|<a href="#">内电子出品</a></div>
    </div>
    <div class="nav">
        <div class="navmenu">
            <div class="logo"><a href="index.html"><img src="images/logo.jpg" width="190" height="70"/></a></div>
            <ul>
                <li><a href="#旅游景点">旅游景点</a></li>
                <li><a href="#酒店住宿" class="on">酒店住宿</a></li>
                <li><a href="#">出行交通</a></li>
                <li><a href="#娱乐购物">娱乐购物</a></li>
                <li><a href="#">旅游新闻</a></li>
                <li><a href="#">地区文化知识</a></li>
                <li><a href="#特色美食">特色美食</a></li>
                <li><a href="#">旅游资讯</a></li>
                <li><a href="#">旅游攻略</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="nybanner" style="background:url(images/巴厘岛.jpg) center no-repeat;"></div>
<!--中间内容-->
<div id="subbox">
    <div class="position">当前位置：<a href="#">首页</a> >周边旅游</div>
    <div class="mainsub">
        <!--左侧部分-->
        <div class="left870">
            <!--国际旅游地图-->
            <div class="column4">
                <div class="title5"><a name="">更多></a>
                    <h1>国际旅游地图</h1></div>
                <div class="lvmap">
                    <span class="lvL"><img src="images/国际旅游地图.jpg" width="304" height="221"/></span>
                    <span class="lvR">国际旅游是指跨越国界的旅游活动。包括入境旅游和出境旅游。前者指外国居民到本国的旅游活动，后者指本国居民到他国的旅游活动。1937年由国际联盟（League of Nations）统计委员会提出的定义为：离开自己的居住国家到另一个国家访问超过24小时以上的人。</span>
                </div>
            </div>
            <!--旅游景点-->
            <div class="column4">
                <div class="title5"><a name="旅游景点">更多></a>
                    <h1>旅游景点</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/法国，%20巴黎.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">法国， 巴黎 </a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/哥斯达黎加，Manual.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">哥斯达黎加，Manual</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/马尔代夫.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">马尔代夫</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/印度尼西亚，巴厘岛.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">印度尼西亚，巴厘岛</a></span>
                    </li>
                </ul>
            </div>

          <!--酒店住宿-->
          <div class="column4">
            <div class="title5"><a name="酒店住宿">更多></a>
              <h1>酒店住宿</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/宜必思尚品巴黎戴高乐机场酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">宜必思尚品巴黎戴高乐机场酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/希尔顿花园酒店%20－圣何塞拉萨瓦纳，哥斯达黎加.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">希尔顿花园酒店 －圣何塞拉萨瓦纳，哥斯达黎加 </a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/马尔代夫满月岛喜来登度假酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">马尔代夫满月岛喜来登度假酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/巴厘岛金巴兰%20RIMBA%20酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">巴厘岛金巴兰 RIMBA 酒店</a></span>
              </li>
            </ul>
          </div>

          <!--娱乐购物-->
          <div class="column4">
            <div class="title5"><a name="娱乐购物">更多></a>
              <h1>娱乐购物</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/巴黎勒阿尔市场.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">巴黎勒阿尔市场</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/Oxigeno.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">Oxigeno</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/STO%20MARKET.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">STO MARKET</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/DFS免税店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">DFS免税店</a></span>
              </li>
            </ul>
          </div>
            <!--特色美食-->
            <div class="column4">
                <div class="title5"><a name="特色美食">更多></a>
                    <h1>特色美食</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/法式蜗牛.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">法式蜗牛</a></span>
                        <span class="lyinfo">这就是法式蜗牛！这是一种煮熟的蜗牛，带有黄油和大蒜的味道</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/哥斯达黎加粽子.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">哥斯达黎加粽子</a></span>
                        <span class="lyinfo">将玉米晒干做成玉米粉，和肉类、土豆、水果块儿在锅里搅拌到一起，再用玉米叶子包裹起来蒸熟</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/马尔代夫咖喱鲷.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">马尔代夫咖喱鲷鱼</a></span>
                        <span class="lyinfo">这款自制的咖喱色泽深红，味道浓郁，微微的辣劲很够回味</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/印尼炒饭.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">印尼炒饭</a></span>
                        <span class="lyinfo">饭粒粒粒分明，干湿度刚刚好，调味也独具印尼特色，搭配肉串、薯片、煎蛋，一口下去，简直不要太幸福！</span>
                    </li>
                </ul>
            </div>
        </div>


        <!--右侧部分-->
        <div class="right310">
            <!--地区文化知识-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>地区文化知识</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/内蒙周边1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">国际文化</a></h2>
                        <p></p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">法国的古典文学</a></li>
                    <li>·<a href="#">法国工业设计、艺术设计</a></li>
                    <li>·<a href="#">戛纳国际电影节</a></li>
                    <li>·<a href="#">马尔代夫当地语言-迪维希</a></li>
                    <li>·<a href="#">Bodu Beru马尔代夫传统的音乐形式</a></li>
                    <li>·<a href="#">马尔代夫的首都马累每天有五次祷告</a></li>
                    <li>·<a href="#">登巴萨的接吻节</a></li>
                    <li>·<a href="#">班兰之战</a></li>
                    <li>·<a href="#">抬鬼大游行</a></li>
                    <li>·<a href="#">加隆安节</a></li>
                </ul>
            </div>

          <div class="column5">
            <div class="title5"><a href="#">更多></a>
              <h1>旅游新闻</h1></div>
            <div class="topnews1">
              <div class="tjimg"><img src="images/内蒙周边1.jpg" width="108" height="80"/></div>
              <div class="tjt"><h2><a href="#">旅游新闻</a></h2>
                <p>新闻的新，新闻的闻 </p></div>
            </div>
            <div class="clear"></div>
            <ul class="list10">
              <li>·<a href="#">中国把欧洲当打折商场 贡献全球奢侈品消费30%</a></li>
              <li>·<a href="#">“苏州古典园林”旅游文化推介会在巴黎举行</a></li>
              <li>·<a href="#">“醉美遵义”亮相巴黎 土司文化震惊当地旅游界</a></li>
              <li>·<a href="#">中国游客巴黎付打车费 被盗刷银行卡</a></li>
              <li>·<a href="#">中国游客巴黎付打车费 被盗刷银行卡</a></li>
              <li>·<a href="#">内蒙古大学生着蒙古族服饰首登巴黎时装周</a></li>
              <li>·<a href="#">巴黎圣母院重建“路线图”获批 将展示现代风格</a></li>
              <li>·<a href="#">印尼巴厘岛一火山活跃 致逾12万居民被迫撤离</a></li>
              <li>·<a href="#">印尼巴厘岛国际机场继续开放</a></li>
              <li>·<a href="#">各方协助滞留巴厘岛中国游客回国工作阶段性完成</a></li>
            </ul>
          </div>
            <!--旅游资讯-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>旅游资讯</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/内蒙周边1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">小小资讯</a></h2>
                        <p>带你步入国际之列，帮助你更快的了解国际资讯</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">东方之美 盛放巴黎--刘大为绘画作品展巴黎举行</a></li>
                    <li>·<a href="#">巴黎将投资３亿欧元改善埃菲尔铁塔旅游服务设施</a></li>
                    <li>·<a href="#">2019年欧中游购资源交易会在巴黎举行</a></li>
                    <li>·<a href="#">巴黎旅游发展创新高 中日游客消费蕞多</a></li>
                    <li>·<a href="#">旅游相亲“两不误” 遨游网推出巴厘岛寻爱线路</a></li>
                    <li>·<a href="#">巴厘岛：印度尼西亚的掌上明珠 又一天堂免签了</a></li>
                    <li>·<a href="#">中领馆就印尼巴厘岛火山喷发旅行安全提醒</a></li>
                    <li>·<a href="#">新巴厘岛初显效 中国连续5个月成印尼□大客源地</a></li>
                    <li>·<a href="#">为完旅游业计划印尼再造10个新巴厘岛吸引中国人</a></li>
                    <li>·<a href="#">李克强晤亚明：望马方继续为中国游客提供便利</a></li>
                    <li>·<a href="#">外交部提醒：近期暂勿前往马尔代夫首都</a></li>
                    <li>·<a href="#">中国使馆提醒中国公民谨慎前往马尔代夫首都</a></li>
                    <li>·<a href="#">中国游客安全问题联席会议在马尔代夫举行</a></li>

                </ul>
            </div>

        </div>

    </div>

</div>

<!--底部-->
<div id="footer">
    <div class="fnav"><a href="#">关于我们</a>|<a href="#">免责条款</a>|<a href="#">加入收藏</a>|<a href="#">设为首页</a></div>
    <div class="copyright">版权所有：呼和浩特内电子 电话：0000-0000000 地址：呼和浩特赛罕区内蒙古电子信息职业技术学院 邮编：000000 邮箱：xxxxx@xxx.com<br/>
        内ICP备00000000号 <a href="http://www.aspku.com/" target="_blank">呼和之家</a></div>
</div>
</body>
</html>
