<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>赤峰</title>
    <meta name="keywords" content="赤峰 "/>
    <meta name="description" content="赤峰 "/>
    <link href="css/whir_css.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="script/jquery.js"></script>
    <script type="text/javascript" src="script/superslide.2.1.js"></script>
</head>
<body>
<!--header-->
<div id="header">
    <div class="top">
        <div class="time">
            <script language=JavaScript>
                <!--
                var enabled = 0;
                today = new Date();
                var day;
                var date;
                if (today.getDay() == 0) day = " 星期日"
                if (today.getDay() == 1) day = " 星期一"
                if (today.getDay() == 2) day = " 星期二"
                if (today.getDay() == 3) day = " 星期三"
                if (today.getDay() == 4) day = " 星期四"
                if (today.getDay() == 5) day = " 星期五"
                if (today.getDay() == 6) day = " 星期六"
                document.fgColor = "000000";
                date = "现在是:" + (today.getFullYear()) + "年" + (today.getMonth() + 1) + "月" + today.getDate() + "日" + day + "";
                document.write(date);
                // -->
            </script>
        </div>
        <div class="weather">
            <iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true"
                    src="http://i.tianqi.com/index.php?c=code&id=1&icon=1&py=chifeng&wind=0&num=1"></iframe>
        </div>
        <div class="tnav"><a href="http://www.nmgzzqlyxh.org/">内蒙古旅游协会</a>|<a href="#">内电子出品</a></div>
    </div>
    <div class="nav">
        <div class="navmenu">
            <div class="logo"><a href="index.html"><img src="images/logo.jpg" width="190" height="70"/></a></div>
            <ul>
                <li><a href="#旅游景点">旅游景点</a></li>
                <li><a href="#酒店住宿" class="on">酒店住宿</a></li>
                <li><a href="#">出行交通</a></li>
                <li><a href="#娱乐购物">娱乐购物</a></li>
                <li><a href="#">旅游新闻</a></li>
                <li><a href="#">地区文化知识</a></li>
                <li><a href="#特色美食">特色美食</a></li>
                <li><a href="#">旅游资讯</a></li>
                <li><a href="#">旅游攻略</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="nybanner" style="background:url(images/赤峰11.jpg) center no-repeat;"></div>
<!--中间内容-->
<div id="subbox">
    <div class="position">当前位置：<a href="#">首页</a> >赤峰</div>
    <div class="mainsub">
        <!--左侧部分-->
        <div class="left870">
            <!--赤峰旅游地图-->
            <div class="column4">
                <div class="title5"><a name="">更多></a>
                    <h1>赤峰旅游地图</h1></div>
                <div class="lvmap">
                    <span class="lvL"><img src="images/赤峰地图.jpg" width="304" height="221"/></span>
                    <span class="lvR">赤峰市是隶属于内蒙古自治区的地级市。设3个市辖区：红山区、元宝山区、松山区；辖7旗2县：阿鲁科尔沁旗、巴林左旗、巴林右旗、克什克腾旗、翁牛特旗、喀喇沁旗、敖汉旗、林西县、宁城县，共12个旗县区。
　　赤峰市，蒙语译为乌兰哈达，内蒙古自治区东南部的一座城市。她因城区东北隅这座赭红色山峰而得名。古老的西拉沐沦河与老哈河如两条主叶脉横贯东西，境内大大小小的河流如支脉纵横交织，相伴着高高的兴安岭、蜿蜒的燕山、辽阔的草原，展示着它的勃勃生机和神奇魅力。赤峰市位于内蒙古、辽宁、河北三省交界处，全市辖三区七旗二县，总面积9万平方公里，总人口460万，居住着蒙、汉、回、满等30个民族，其中蒙古族86万，是一个多民族和睦共处的民族聚居地区。 </span>
                </div>
            </div>
            <!--旅游景点-->
            <div class="column4">
                <div class="title5"><a name="旅游景点">更多></a>
                    <h1>旅游景点</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/玉龙沙湖景区.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">玉龙沙湖景区</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/敖汉温泉城.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">敖汉温泉城</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/赤峰瑶池御水.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">赤峰瑶池御水</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/克什克腾世界地质公园.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">克什克腾世界地质公园</a></span>
                    </li>
                </ul>
            </div>

          <!--酒店住宿-->
          <div class="column4">
            <div class="title5"><a name="酒店住宿">更多></a>
              <h1>酒店住宿</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/赤峰天王国际酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">赤峰天王国际酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/赤峰恒茂精品酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">赤峰恒茂精品酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/赤峰丽景酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">赤峰丽景酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/赤峰富力万达嘉华酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">赤峰富力万达嘉华酒店</a></span>
              </li>
            </ul>
          </div>

          <!--娱乐购物-->
          <div class="column4">
            <div class="title5"><a name="娱乐购物">更多></a>
              <h1>娱乐购物</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/赤峰万达广场.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">赤峰万达广场</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/名创优品(航宇商厦店).jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">名创优品(航宇商厦店)</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/华联购物中心.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">华联购物中心</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/家家福超市.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">家家福超市</a></span>
              </li>
            </ul>
          </div>
            <!--特色美食-->
            <div class="column4">
                <div class="title5"><a name="特色美食">更多></a>
                    <h1>特色美食</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/赤峰对夹.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">赤峰对夹</a></span>
                        <span class="lyinfo">对夹外表金黄，层次分明，香酥脆，肉细嫩，瘦而不柴，肥而不腻；赤峰对夹被称之为“中国的夹肉汉堡”</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/赤峰敖汉拨面.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">赤峰敖汉拨面</a></span>
                        <span class="lyinfo">口感润滑而富有筋性，味道甚美。同时，荞麦还具有降气宽肠、清热解毒的药用功效...</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/赤峰黄米面豆包.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">赤峰黄米面豆包</a></span>
                        <span class="lyinfo">豆包含有丰富的蛋白质,豆皮还可增加纤维的含量.豆沙包则相对较差,部分纤维、钾、丹宁、皂甙等已损失</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/赤峰敖汉小米菜包.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">赤峰敖汉小米菜包</a></span>
                        <span class="lyinfo">富含镁，钾，磷，铁，锌，烟酸，叶酸，VB1，VB2等；小麦易于消化，适合肠胃系统病人和产妇食用。</span>
                    </li>
                </ul>
            </div>
        </div>


        <!--右侧部分-->
        <div class="right310">
            <!--地区文化知识-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>地区文化知识</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/赤峰1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">赤峰</a></h2>
                        <p>赤峰为红山之意，蒙古语“乌兰哈达”，因城区东北部赭红色山峰而得名。</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">巴林左旗皮影戏</a></li>
                    <li>·<a href="#">阿日奔苏木婚礼</a></li>
                    <li>·<a href="#">蒙古族林丹汗宫廷音乐</a></li>
                    <li>·<a href="#">巴林格斯尔</a></li>
                    <li>·<a href="#">新石器时代红山诸文化</a></li>
                    <li>·<a href="#">北方草原青铜文化</a></li>
                    <li>·<a href="#">契丹—辽文化、蒙元文化</a></li>
                    <li>·<a href="#">考古学文化遗址群--兴隆洼遗址</a></li>
                    <li>·<a href="#">规模最大的蒙古族王爷府“喀喇沁王爷府”</a></li>
                    <li>·<a href="#">“龙的故乡”</a></li>
                </ul>
            </div>

          <div class="column5">
            <div class="title5"><a href="#">更多></a>
              <h1>旅游新闻</h1></div>
            <div class="topnews1">
              <div class="tjimg"><img src="images/赤峰1.jpg" width="108" height="80"/></div>
              <div class="tjt"><h2><a href="#">旅游新闻</a></h2>
                <p>新闻的新，新闻的闻 </p></div>
            </div>
            <div class="clear"></div>
            <ul class="list10">
              <li>·<a href="#">喀喇沁旗被认定为休闲农牧业与乡村旅游示范旗</a></li>
              <li>·<a href="#">赤峰宁城县“周末游”启动仪式举行</a></li>
              <li>·<a href="#">水似明眸 | 丘陵草原中的公主湖</a></li>
              <li>·<a href="#">内蒙古3地成首批国家农村产业融合发展示范园</a></li>
              <li>·<a href="#">旅游带动内蒙古巴林草原变身“绿富美”</a></li>
              <li>·<a href="#">内蒙古亲子研学文化旅游即将拉开帷幕</a></li>
              <li>·<a href="#">内蒙古再迎冷空气 局地有降雪</a></li>
              <li>·<a href="#">以歌会友，伴着歌声领略内蒙古美景</a></li>
              <li>·<a href="#">第十四届全国冬运会招募2500名志愿者</a></li>
              <li>·<a href="#">2020年内蒙古将形成4个通用机场群</a></li>
            </ul>
          </div>
            <!--旅游资讯-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>旅游资讯</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/赤峰1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">小小资讯</a></h2>
                        <p>带你步入龙的故乡，帮助你更快的了解赤峰</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">赤峰市A级景区再添新成员</a></li>
                    <li>·<a href="#">喀喇沁旗被认定为休闲农牧业与乡村旅游示范旗</a></li>
                    <li>·<a href="#">来这里当一次公路电影的主角吧！！！</a></li>
                    <li>·<a href="#">克什克腾石阵国家5A级旅游景区揭牌</a></li>
                    <li>·<a href="#">赤峰市文体旅集团在澳大利亚举办首场海外推介会</a></li>
                    <li>·<a href="#">赤峰市红山区举行融媒体中心揭牌仪式</a></li>
                    <li>·<a href="#">赤峰强化旅游安全工作</a></li>
                    <li>·<a href="#">国际自盟公路越野赛在内蒙古赤峰市敖汉旗收官</a></li>
                    <li>·<a href="#">赤峰宁城县“周末游”启动仪式举行</a></li>
                    <li>·<a href="#">我在诗里看到了内蒙古</a></li>
                    <li>·<a href="#">来吧，流浪在贡格尔草原</a></li>
                    <li>·<a href="#">内蒙古十二城记丨赤峰市的克什克腾旗</a></li>
                    <li>·<a href="#">旅游带动内蒙古巴林草原变身“绿富美”</a></li>

                </ul>
            </div>

        </div>

    </div>

</div>

<!--底部-->
<div id="footer">
    <div class="fnav"><a href="#">关于我们</a>|<a href="#">免责条款</a>|<a href="#">加入收藏</a>|<a href="#">设为首页</a></div>
    <div class="copyright">版权所有：呼和浩特内电子 电话：0000-0000000 地址：呼和浩特赛罕区内蒙古电子信息职业技术学院 邮编：000000 邮箱：xxxxx@xxx.com<br/>
        内ICP备00000000号 <a href="http://www.aspku.com/" target="_blank">呼和之家</a></div>
</div>
</body>
</html>
