<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>通辽</title>
    <meta name="keywords" content="通辽 "/>
    <meta name="description" content="通辽 "/>
    <link href="css/whir_css.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="script/jquery.js"></script>
    <script type="text/javascript" src="script/superslide.2.1.js"></script>
</head>
<body>
<!--header-->
<div id="header">
    <div class="top">
        <div class="time">
            <script language=JavaScript>
                <!--
                var enabled = 0;
                today = new Date();
                var day;
                var date;
                if (today.getDay() == 0) day = " 星期日"
                if (today.getDay() == 1) day = " 星期一"
                if (today.getDay() == 2) day = " 星期二"
                if (today.getDay() == 3) day = " 星期三"
                if (today.getDay() == 4) day = " 星期四"
                if (today.getDay() == 5) day = " 星期五"
                if (today.getDay() == 6) day = " 星期六"
                document.fgColor = "000000";
                date = "现在是:" + (today.getFullYear()) + "年" + (today.getMonth() + 1) + "月" + today.getDate() + "日" + day + "";
                document.write(date);
                // -->
            </script>
        </div>
        <div class="weather">
            <iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true"
                    src="http://i.tianqi.com/index.php?c=code&id=1&icon=1&py=tongliao&wind=0&num=1"></iframe>
        </div>
        <div class="tnav"><a href="http://www.nmgzzqlyxh.org/">内蒙古旅游协会</a>|<a href="#">内电子出品</a></div>
    </div>
    <div class="nav">
        <div class="navmenu">
            <div class="logo"><a href="index.html"><img src="images/logo.jpg" width="190" height="70"/></a></div>
            <ul>
                <li><a href="#旅游景点">旅游景点</a></li>
                <li><a href="#酒店住宿" class="on">酒店住宿</a></li>
                <li><a href="#">出行交通</a></li>
                <li><a href="#娱乐购物">娱乐购物</a></li>
                <li><a href="#">旅游新闻</a></li>
                <li><a href="#">地区文化知识</a></li>
                <li><a href="#特色美食">特色美食</a></li>
                <li><a href="#">旅游资讯</a></li>
                <li><a href="#">旅游攻略</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="nybanner" style="background:url(images/通辽.jpg) center no-repeat;"></div>
<!--中间内容-->
<div id="subbox">
    <div class="position">当前位置：<a href="#">首页</a> >通辽</div>
    <div class="mainsub">
        <!--左侧部分-->
        <div class="left870">
            <!--通辽旅游地图-->
            <div class="column4">
                <div class="title5"><a name="">更多></a>
                    <h1>通辽旅游地图</h1></div>
                <div class="lvmap">
                    <span class="lvL"><img src="images/通辽地图.jpg" width="304" height="221"/></span>
                    <span class="lvR">通辽是蒙古民族的发祥地之一，科尔沁草原曾产生和流传着著名的科尔沁三大叙事民歌（韩秀英、达那巴拉、嘎达梅林）和上千首短调民歌，涌现出琶杰、毛依罕等曲艺大师和色拉西、查干巴拉等歌手。通辽境内有京通、通让、大郑、通霍、集通5条铁路交汇，已开通“通满欧”国际货运班列，3条高速、6条国道和7条省道贯穿。通辽周边800千米范围内有15个百万人口以上城市，距离出海口锦州港仅400千米，是国家实施“一带一路”和内蒙古自治区推进向北开放的重要战略节点。通辽市，是内蒙古自治区的9个地级市之一，驻地科尔沁区。位于内蒙古自治区东部，东靠吉林省四平市，西接赤峰市、锡林郭勒盟，南依辽宁省沈阳市、阜新市、铁岭市，北边与兴安盟以及吉林省白城市、松原市为邻；地处中纬度，属中温带、干旱和半干旱、大陆性季风气候；下辖1个市辖区、1个县级市、1个县、5个旗；总面积59835平方千米；2017年总人口316.36万人。</span>
                </div>
            </div>
            <!--旅游景点-->
            <div class="column4">
                <div class="title5"><a name="旅游景点">更多></a>
                    <h1>旅游景点</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/宝古图沙漠旅游区.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">宝古图沙漠旅游区</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/通辽大青沟.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">通辽大青沟</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/孝庄园文化旅游区.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">孝庄园文化旅游区</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/库伦三大寺.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">库伦三大寺</a></span>
                    </li>
                </ul>
            </div>

          <!--酒店住宿-->
          <div class="column4">
            <div class="title5"><a name="酒店住宿">更多></a>
              <h1>酒店住宿</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/通辽碧桂园凤凰酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">通辽碧桂园凤凰酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/通辽新世纪大酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">通辽新世纪大酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/通辽荣达酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">通辽荣达酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/通辽草原大厦.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">通辽草原大厦</a></span>
              </li>
            </ul>
          </div>

          <!--娱乐购物-->
          <div class="column4">
            <div class="title5"><a name="娱乐购物">更多></a>
              <h1>娱乐购物</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/丽水国际商务休闲会馆.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">丽水国际商务休闲会馆</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/猿族密室真人密室逃脱俱乐部.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">猿族密室真人密室逃脱俱乐部</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/华申时代购物广场.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">华申时代购物广场</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/太平洋商业广场.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">太平洋商业广场</a></span>
              </li>
            </ul>
          </div>
            <!--特色美食-->
            <div class="column4">
                <div class="title5"><a name="特色美食">更多></a>
                    <h1>特色美食</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/内蒙松鼠鲤鱼.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">内蒙松鼠鲤鱼</a></span>
                        <span class="lyinfo">此菜皮酥肉嫩、酸甜可口、形似松鼠。</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/菜包.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">菜包</a></span>
                        <span class="lyinfo">菜包也叫饭包，是通辽地区老百姓喜爱的一种饮食</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/科尔沁蒙古馅饼.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">科尔沁蒙古馅饼</a></span>
                        <span class="lyinfo">蒙古馅饼是科尔沁的传统美食，在通辽民族饮食文化中占有重要地位</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/奈曼旗全鱼宴.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">奈曼旗全鱼宴</a></span>
                        <span class="lyinfo">全鱼宴是奈曼旗独具风味的宴席。以煎、炸、溜、炖、红烧、清蒸、浇汁、油焖为主</span>
                    </li>
                </ul>
            </div>
        </div>


        <!--右侧部分-->
        <div class="right310">
            <!--地区文化知识-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>地区文化知识</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/通辽1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">通辽</a></h2>
                        <p>通辽市，是内蒙古自治区的9个地级市之一，驻地科尔沁区</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">科尔沁潮尔史诗</a></li>
                    <li>·<a href="#">科尔沁叙事民歌</a></li>
                    <li>·<a href="#">通辽版画</a></li>
                    <li>·<a href="#">科尔沁蒙古族婚嫁</a></li>
                    <li>·<a href="#">以文化人用文化浸润心灵-赛马节歌唱家乡</a></li>
                    <li>·<a href="#">以文惠民提升幸福含金量-乌兰牧骑话剧八女投江</a></li>
                    <li>·<a href="#">以文润城文化引领城市发展-全国汽车越野争霸赛</a></li>
                    <li>·<a href="#">“中国马王之乡”</a></li>
                    <li>·<a href="#">“民族曲艺之乡”</a></li>
                    <li>·<a href="#">“安代艺术之乡”</a></li>
                </ul>
            </div>

          <div class="column5">
            <div class="title5"><a href="#">更多></a>
              <h1>旅游新闻</h1></div>
            <div class="topnews1">
              <div class="tjimg"><img src="images/通辽1.jpg" width="108" height="80"/></div>
              <div class="tjt"><h2><a href="#">旅游新闻</a></h2>
                <p>新闻的新，新闻的闻 </p></div>
            </div>
            <div class="clear"></div>
            <ul class="list10">
              <li>·<a href="#">通辽获旅游发展基金千万元</a></li>
              <li>·<a href="#">通辽市科尔沁区疑现牛炭疽疫情已得到控制</a></li>
              <li>·<a href="#">内蒙古自治区温州商会大会暨通辽投资合作会举行</a></li>
              <li>·<a href="#">内蒙古通辽市：科尔沁草原的脱贫故事真好听</a></li>
              <li>·<a href="#">通辽又见草密林茂</a></li>
              <li>·<a href="#">通辽市2018年航空旅游产品推介会走进西安</a></li>
              <li>·<a href="#">通辽至鲁北高速公路正式通车</a></li>
              <li>·<a href="#">内蒙古通辽：先看病后付费 一站式全兜底</a></li>
              <li>·<a href="#">通辽至新民北高铁轨道铺进内蒙古</a></li>
              <li>·<a href="#">数说春节黄金周通辽市假日旅游市场新变化</a></li>
            </ul>
          </div>
            <!--旅游资讯-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>旅游资讯</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/通辽1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">小小资讯</a></h2>
                        <p>带你步入马王之乡，帮助你更快的了解通辽</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">温室采摘成为通辽冬季旅游新时尚</a></li>
                    <li>·<a href="#">通辽：大力打造高端温泉养生、度假旅游产业品牌</a></li>
                    <li>·<a href="#">内蒙古通辽：旅游+扶贫，让风景变“钱”景</a></li>
                    <li>·<a href="#">敖包相会的地方“通辽旅游”号品牌列车艏发</a></li>
                    <li>·<a href="#">通辽：醉美人间四月天 不负盛景在此间</a></li>
                    <li>·<a href="#">风味内蒙古·通辽珍味</a></li>
                    <li>·<a href="#">内蒙古沙漠那达慕在通辽市奈曼旗开幕</a></li>
                    <li>·<a href="#">第八届全国自驾车旅游发展峰会在通辽市开幕</a></li>
                    <li>·<a href="#">通辽市首届蒙古族服装大赛暨薰衣草赏花旅游节开幕</a></li>
                    <li>·<a href="#">通辽市左中旗打造诚信旅游品牌</a></li>
                    <li>·<a href="#">通辽：精心绘制全域旅游新版图</a></li>
                    <li>·<a href="#">通辽市科尔沁区开创 “旅游+生态”发展新格局</a></li>
                    <li>·<a href="#">中国•通辽国际文化旅游节将于8月举办</a></li>

                </ul>
            </div>

        </div>

    </div>

</div>

<!--底部-->
<div id="footer">
    <div class="fnav"><a href="#">关于我们</a>|<a href="#">免责条款</a>|<a href="#">加入收藏</a>|<a href="#">设为首页</a></div>
    <div class="copyright">版权所有：呼和浩特内电子 电话：0000-0000000 地址：呼和浩特赛罕区内蒙古电子信息职业技术学院 邮编：000000 邮箱：xxxxx@xxx.com<br/>
        内ICP备00000000号 <a href="http://www.aspku.com/" target="_blank">呼和之家</a></div>
</div>
</body>
</html>
