<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>锡林郭勒</title>
    <meta name="keywords" content="锡林郭勒 "/>
    <meta name="description" content="锡林郭勒 "/>
    <link href="css/whir_css.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="script/jquery.js"></script>
    <script type="text/javascript" src="script/superslide.2.1.js"></script>
</head>
<body>
<!--header-->
<div id="header">
    <div class="top">
        <div class="time">
            <script language=JavaScript>
                <!--
                var enabled = 0;
                today = new Date();
                var day;
                var date;
                if (today.getDay() == 0) day = " 星期日"
                if (today.getDay() == 1) day = " 星期一"
                if (today.getDay() == 2) day = " 星期二"
                if (today.getDay() == 3) day = " 星期三"
                if (today.getDay() == 4) day = " 星期四"
                if (today.getDay() == 5) day = " 星期五"
                if (today.getDay() == 6) day = " 星期六"
                document.fgColor = "000000";
                date = "现在是:" + (today.getFullYear()) + "年" + (today.getMonth() + 1) + "月" + today.getDate() + "日" + day + "";
                document.write(date);
                // -->
            </script>
        </div>
        <div class="weather">
            <iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true"
                    src="http://i.tianqi.com/index.php?c=code&id=1&icon=1&py=xilinhaote&wind=1&num=2&site=12"></iframe>
        </div>
        <div class="tnav"><a href="http://www.nmgzzqlyxh.org/">内蒙古旅游协会</a>|<a href="#">内电子出品</a></div>
    </div>
    <div class="nav">
        <div class="navmenu">
            <div class="logo"><a href="index.html"><img src="images/logo.jpg" width="190" height="70"/></a></div>
            <ul>
                <li><a href="#旅游景点">旅游景点</a></li>
                <li><a href="#酒店住宿" class="on">酒店住宿</a></li>
                <li><a href="#">出行交通</a></li>
                <li><a href="#娱乐购物">娱乐购物</a></li>
                <li><a href="#">旅游新闻</a></li>
                <li><a href="#">地区文化知识</a></li>
                <li><a href="#特色美食">特色美食</a></li>
                <li><a href="#">旅游资讯</a></li>
                <li><a href="#">旅游攻略</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="nybanner" style="background:url(images/锡林郭勒.jpg) center no-repeat;"></div>
<!--中间内容-->
<div id="subbox">
    <div class="position">当前位置：<a href="#">首页</a> >锡林郭勒</div>
    <div class="mainsub">
        <!--左侧部分-->
        <div class="left870">
            <!--乌兰察布旅游地图-->
            <div class="column4">
                <div class="title5"><a name="">更多></a>
                    <h1>锡林郭勒旅游地图</h1></div>
                <div class="lvmap">
                    <span class="lvL"><img src="images/锡林郭勒地图.jpg" width="304" height="221"/></span>
                    <span class="lvR">锡林郭勒盟，是内蒙古自治区的3个盟之一，驻地锡林浩特市。位于中国正北方，内蒙古自治区中部，距首都北京640千米，距首府呼和浩特620千米，既是国家重要的畜产品基地，又是西部大开发的前沿，是距京、津、唐最近的草原牧区。地处东经115°13′～117°06′，北纬43°02′～44°52′之间。北与蒙古国接壤，边境线长1098公里。南邻河北省张家口、承德地区，西连乌兰察布市，东接赤峰市、兴安盟和通辽市 ，总面积203000平方千米截至2014年，锡林郭勒盟辖2市、9旗、1县、1个管理区、1个开发区，常住人口为105.16万人（2017年），以汉族为主，有蒙古族，回族，满族，朝鲜族，达斡尔族，鄂温克族，藏族，苗族，土家族等23个少数民族，是多民族聚居区 ，是东北、华北、西北交汇地带，具有对外贯通欧亚、区内连接东西、北开南联的重要作用。</span>
                </div>
            </div>
            <!--旅游景点-->
            <div class="column4">
                <div class="title5"><a name="旅游景点">更多></a>
                    <h1>旅游景点</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/二连浩特国家地质公园.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">二连浩特国家地质公园</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/多伦清水湾温泉.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">多伦清水湾温泉</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/二连浩特国门景区.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">二连浩特国门景区</a></span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/东大会浴都.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">东大会浴都</a></span>
                    </li>
                </ul>
            </div>

          <!--酒店住宿-->
          <div class="column4">
            <div class="title5"><a name="酒店住宿">更多></a>
              <h1>酒店住宿</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/多伦龙栖湾大酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">多伦龙栖湾大酒店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/锡林郭勒元和建国饭店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">锡林郭勒元和建国饭店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/内蒙古玖苑国际饭店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">内蒙古玖苑国际饭店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/二连浩特万博假日酒店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">二连浩特万博假日酒店</a></span>
              </li>
            </ul>
          </div>

          <!--娱乐购物-->
          <div class="column4">
            <div class="title5"><a name="娱乐购物">更多></a>
              <h1>娱乐购物</h1></div>
            <ul class="list9">
              <li>
                        <span class="lypic"><a href="#"><img src="images/锡林浩特特产商品店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">锡林浩特特产商品店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/蒙骄龙牛肉干工厂店.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">蒙骄龙牛肉干工厂店</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/维多利购物中心.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">维多利购物中心</a></span>
              </li>
              <li>
                        <span class="lypic"><a href="#"><img src="images/德克隆贝子庙商场.jpg" width="201"
                                                             height="141"/></a></span>
                <span class="lytext"><a href="#">德克隆贝子庙商场</a></span>
              </li>
            </ul>
          </div>
            <!--特色美食-->
            <div class="column4">
                <div class="title5"><a name="特色美食">更多></a>
                    <h1>特色美食</h1></div>
                <ul class="list9">
                    <li>
                        <span class="lypic"><a href="#"><img src="images/乌珠穆沁羊肉.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">乌珠穆沁羊肉</a></span>
                        <span class="lyinfo">　乌珠穆沁羊肉乌珠穆沁羊产于内蒙古自治区锡林郭勒盟东部乌珠穆沁草原，故以此得名</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/阿巴嘎乌冉克羊.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">阿巴嘎乌冉克羊</a></span>
                        <span class="lyinfo">史料记载，“乌冉克”是蒙古诸部之一，原居住在蒙古国西北部唐努山一带，故名为“唐努乌冉克”</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/正蓝旗奶皮子.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">正蓝旗奶皮子</a></span>
                        <span class="lyinfo">　正蓝旗奶皮子（正蓝旗乌日穆）</span>
                    </li>
                    <li>
                        <span class="lypic"><a href="#"><img src="images/正蓝旗奶豆腐.jpg" width="201"
                                                             height="141"/></a></span>
                        <span class="lytext"><a href="#">正蓝旗奶豆腐</a></span>
                        <span class="lyinfo">　正蓝旗奶豆腐（正蓝旗浩乳得）</span>
                    </li>
                </ul>
            </div>
        </div>


        <!--右侧部分-->
        <div class="right310">
            <!--地区文化知识-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>地区文化知识</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/锡林郭勒1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">锡林郭勒</a></h2>
                        <p>锡林郭勒盟自古以来就是中国北方各族人民劳动、生活、繁衍的地方。</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">上都文明</a></li>
                    <li>·<a href="#">阿巴嘎岩画</a></li>
                    <li>·<a href="#">苏尼特石刻</a></li>
                    <li>·<a href="#">锡林浩特石器</a></li>
                    <li>·<a href="#">乌珠穆沁古人类遗址</a></li>
                    <li>·<a href="#">游牧文化</a></li>
                    <li>·<a href="#">蒙古族文化</a></li>
                    <li>·<a href="#">中华主流文化</a></li>
                    <li>·<a href="#">元上都遗址</a></li>
                    <li>·<a href="#">察哈尔服饰</a></li>
                </ul>
            </div>

          <div class="column5">
            <div class="title5"><a href="#">更多></a>
              <h1>旅游新闻</h1></div>
            <div class="topnews1">
              <div class="tjimg"><img src="images/锡林郭勒1.jpg" width="108" height="80"/></div>
              <div class="tjt"><h2><a href="#">旅游新闻</a></h2>
                <p>新闻的新，新闻的闻</p></div>
            </div>
            <div class="clear"></div>
            <ul class="list10">
              <li>·<a href="#">锡林郭勒：现代化畜牧业进程中“牧歌”嘹亮</a></li>
              <li>·<a href="#">锡林郭勒：办好自驾嘉年华 打好反季旅游牌</a></li>
              <li>·<a href="#">国际旅游交易会锡林郭勒盟重磅推出冬季旅游产品</a></li>
              <li>·<a href="#">锡林郭勒盟发力旅游人才培育 助力产业提升</a></li>
              <li>·<a href="#">锡林郭勒盟举办第十四届全国冬季运动会倒计时</a></li>
              <li>·<a href="#">锡林郭勒将举办千里草原风景大道自驾嘉年华</a></li>
              <li>·<a href="#">锡林郭勒盟春节假日旅游市场双增长</a></li>
              <li>·<a href="#">锡林郭勒草原花季旅游文化节开幕</a></li>
              <li>·<a href="#">锡林郭勒盟：2.2亿多亩草场休养生息</a></li>
              <li>·<a href="#">锡林郭勒盟京津风沙源治理二期工程飞播造林全面展开</a></li>
            </ul>
          </div>
            <!--旅游资讯-->
            <div class="column5">
                <div class="title5"><a href="#">更多></a>
                    <h1>旅游资讯</h1></div>
                <div class="topnews1">
                    <div class="tjimg"><img src="images/锡林郭勒1.jpg" width="108" height="80"/></div>
                    <div class="tjt"><h2><a href="#">小小资讯</a></h2>
                        <p>带你步入石器之地，帮助你更快的了解锡林郭勒</p></div>
                </div>
                <div class="clear"></div>
                <ul class="list10">
                    <li>·<a href="#">锡林郭勒盟多伦县建红色旅游景区</a></li>
                    <li>·<a href="#">锡林郭勒：办好自驾嘉年华 打好反季旅游牌</a></li>
                    <li>·<a href="#">中国国际旅游交易会锡林郭勒重磅推出冬季旅游产品</a></li>
                    <li>·<a href="#">锡林郭勒盟发力旅游人才培育 助力产业提升</a></li>
                    <li>·<a href="#">锡林郭勒举办全国冬季运动会倒计时一周年揭牌仪式</a></li>
                    <li>·<a href="#">内蒙古自治区专家组对锡林郭勒盟A级景区开展复核验收</a></li>
                    <li>·<a href="#">锡林郭勒将举办千里草原风景大道自驾嘉年华</a></li>
                    <li>·<a href="#">一个唯美的名字锡林郭勒</a></li>
                    <li>·<a href="#">锡林郭勒草原花季旅游文化节开幕</a></li>
                    <li>·<a href="#">锡林郭勒盟“走出去”“请进来”强化旅游宣传</a></li>
                    <li>·<a href="#">锡林郭勒：文化传承中的“蒙古马”精神</a></li>
                    <li>·<a href="#">雪后的锡林郭勒</a></li>
                    <li>·<a href="#">内蒙古锡林郭勒盟出台扶持政策打造区域品牌</a></li>

                </ul>
            </div>

        </div>

    </div>

</div>

<!--底部-->
<div id="footer">
    <div class="fnav"><a href="#">关于我们</a>|<a href="#">免责条款</a>|<a href="#">加入收藏</a>|<a href="#">设为首页</a></div>
    <div class="copyright">版权所有：呼和浩特内电子 电话：0000-0000000 地址：呼和浩特赛罕区内蒙古电子信息职业技术学院 邮编：000000 邮箱：xxxxx@xxx.com<br/>
        内ICP备00000000号 <a href="http://www.aspku.com/" target="_blank">呼和之家</a></div>
</div>
</body>
</html>
